#unpushed {
  height: 100%;
}
@media (max-width: 767px) {
  #unpushed {
    margin-left: 0px;
  }
}

.login-panel {
  min-height: 265px;
  width: 360px;
  border: solid 1px #98A4AE !important;
  border-radius: 0;
  box-shadow: 0 3px 3px #C5CFDA;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  left: 50%;
  margin-left: -180px;
  color: #98A4AE;
}
@media (max-width: 401px) {
  .login-panel {
    width: 310px;
    border: none !important;
    box-shadow: none;
    margin-left: -155px;
    margin-top: 45px;
  }
}
.login-panel .panel-heading {
  background-color: #fff;
  padding: 7px 0 10px 0;
  border: none;
}
.login-panel .panel-heading img {
  margin: 0 auto;
}
.login-panel .panel-heading-lytx-subheader {
  margin-left: 25%;
  width: 280px;
}
.login-panel .input-group {
  padding: 0 15px;
}
.login-panel .log-btn {
  background: #0698D3;
  color: #fff;
  width: 330px;
  height: 30px;
  position: absolute;
  bottom: 35px;
  border: none;
  font-size: 13px;
  margin: 0 15px;
}
@media (max-width: 401px) {
  .login-panel .log-btn {
    width: 280px;
    margin: 0 15px;
  }
}
.login-panel .remember {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  color: #98A4AE;
  font-weight: normal;
  margin-left: 32%;
}
.login-panel ul.dropdown-menu {
  position: absolute;
  width: 283px;
  height: 185px;
  padding: 0;
}
.login-panel ul.dropdown-menu a {
  font-size: 14px;
  padding-left: 12px;
}
@media (max-width: 401px) {
  .login-panel ul.dropdown-menu {
    width: 235px;
  }
}
.login-panel .remember {
  bottom: 8px;
}
.login-panel .check-top {
  margin-top: 10px;
  float: left;
}
.login-panel .check-text {
  margin: 11px 0 0 0px;
  float: right;
}

.message-panel {
  height: auto;
  width: 360px;
  position: relative;
  margin-top: -80px;
  left: 50%;
  margin-left: -180px;
  color: #98A4AE;
}
.message-panel p.login-validation-message {
  font-size: 14px;
  text-align: center;
  color: red;
}
@media (max-width: 401px) {
  .message-panel {
    width: 310px;
    margin-left: -155px;
  }
}

.centered {
  border-width: 0px;
  margin-top: 30%;
}

.panel-heading-lytx-subheader {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  height: 50px;
  margin-left: 25%;
  width: 280px;
}

.panel-heading-lytx-header {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 26pt;
  text-align: center;
}

.panel-body {
  padding: 0;
}
