<form ngNoForm name="form" method="post" action="{{serverParams.loginUrl}}">
  <fieldset>
    <div id="unpushed">
      <div class="login-panel">

        <!-- Lytx Header -->
        <div class="panel-heading">
          <div class="panel-heading-lytx-header">
            <img src="/assets/images/lytx_logo.png" class="logo img-responsive"/>
          </div>
        </div>

        <!-- Login form -->
        <!-- div class="panel-body" -->

        <!-- Username Section -->
        <div class="form-group">
          <div class="input-group">
            <!-- Username Icon -->
            <span class="input-group-addon"><i class="glyphicon glyphicon-user blue-foreground"></i></span>

            <!-- Username Textbox-->
            <input type="text"
                   class="form-control input-md no-round-corners lytx-font-primary"
                   name="username"
                   id="username"
                   [(ngModel)]="username"
                   placeholder="Username"
                   required>
          </div>
        </div>

        <!-- Password Section -->
        <div class="input-group">
          <!-- Password icon -->
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock blue-foreground"></i></span>

          <!-- Password textbox -->
          <input type="password"
                 class="form-control input-md no-round-corners lytx-font-primary"
                 name="password"
                 id="password"
                 [(ngModel)]="password"
                 placeholder="Password"
                 required>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary log-btn" type="submit">Login</button>

        <div class="remember">
          <div class="check-top">
            <div class="checkbox_wrapper">
              <input type="checkbox"
                     class="main-cb"
                     name="rememberMe"
                     (click)="rememberMe()"
                     [(ngModel)]="isRememberMe"
                     value="value" />
              <label></label>
            </div>
          </div>
          <span class="check-text">Remember Me</span>
        </div>
      </div>

      <!-- Form validation message -->
      <div class="message-panel">
        <p class="login-validation-message" name="validationMessage">{{ errorMessage }}</p>
      </div>
    </div>
  </fieldset>
</form>
